html {
    font-size: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
  background: #B0C99F;
  margin: 0;
}

h1 {
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
}

p {
  padding: 0 23rem 0 23rem;
}

footer {
  text-align: center;
}

#mapid {
  height: 470px;
  max-width: 700px;
  margin: auto;
}

@media screen and (max-width: 1090px) {
  h1 {
    padding: 0 1rem 0 1rem;
  }
  p {
    padding: 0 1.8rem 0 1.8rem;
  }

  #mapid {
    margin: 0 2rem 0 2rem;
  }
}
